<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated modelingassistant -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="modelingassistant.presentation.ModelingassistantModelWizardID"
            name="%_UI_ModelingassistantModelWizard_label"
            class="modelingassistant.presentation.ModelingassistantModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ModelingassistantModelFile.gif">
         <description>%_UI_ModelingassistantModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated modelingassistant -->
      <editor
            id="modelingassistant.presentation.ModelingassistantEditorID"
            name="%_UI_ModelingassistantEditor_label"
            icon="icons/full/obj16/ModelingassistantModelFile.gif"
            extensions="modelingassistant"
            class="modelingassistant.presentation.ModelingassistantEditor"
            contributorClass="modelingassistant.presentation.ModelingassistantActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated modelingassistant -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="learningcorpusquiz.presentation.LearningcorpusquizModelWizardID"
            name="%_UI_LearningcorpusquizModelWizard_label"
            class="learningcorpusquiz.presentation.LearningcorpusquizModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/LearningcorpusquizModelFile.gif">
         <description>%_UI_LearningcorpusquizModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated modelingassistant -->
      <editor
            id="learningcorpusquiz.presentation.LearningcorpusquizEditorID"
            name="%_UI_LearningcorpusquizEditor_label"
            icon="icons/full/obj16/LearningcorpusquizModelFile.gif"
            extensions="learningcorpusquiz"
            class="learningcorpusquiz.presentation.LearningcorpusquizEditor"
            contributorClass="learningcorpusquiz.presentation.LearningcorpusquizActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated modelingassistant -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="learningcorpus.presentation.LearningcorpusModelWizardID"
            name="%_UI_LearningcorpusModelWizard_label"
            class="learningcorpus.presentation.LearningcorpusModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/LearningcorpusModelFile.gif">
         <description>%_UI_LearningcorpusModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated modelingassistant -->
      <editor
            id="learningcorpus.presentation.LearningcorpusEditorID"
            name="%_UI_LearningcorpusEditor_label"
            icon="icons/full/obj16/LearningcorpusModelFile.gif"
            extensions="learningcorpus"
            class="learningcorpus.presentation.LearningcorpusEditor"
            contributorClass="learningcorpus.presentation.LearningcorpusActionBarContributor">
      </editor>
   </extension>

</plugin>
